$white: #efeee9;
$beige: #eeebdf;
$green: #10c1a8;
$gray: #455a64;
$light-beige: #f9f8f0;
$font-color: #455a64;
$titles-color: $gray;

//layout
@import "mixins/mixins.scss";
@import "layout/fonts.scss";
@import "layout/base.scss";
@import "layout/font-awesome.scss";


//components
@import "components/**/*";

//flexbox
@import "flexbox/styling.scss";
@import "flexbox/layout.scss";