$red : #ff5252;

.section {
  height: initial;
  min-height: initial;
}
.sidebar {
	background: #1f222d;
}

.panel {
	background: #304ffe;
	padding: 20px;
}

.panel__user {
	font-size: 22px;
	@include roboto(medium);
	color: #fff;
}

.panel__options-btn {
	width: 30px;
	height: 30px;
	color: #fff;
	text-decoration: none;
	position: relative;
	font-size: 20px;
	margin-left: 10px;

	&:hover {
		background: #243cbf;
		border-radius: 5px;
	}
}

.panel__options-counter {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	right: -10px;
	background: $red;
	@include roboto(medium);
	font-size: 11px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
}

.user {
	padding: 25px;
}

.user__photo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;

	img {
		display: block;
		max-width: 100%;
	}
}

.user__name-title {
	@include roboto(medium);
	color: #fff;
	font-size: 18px;
	margin-bottom: 12px;
}

.user__name {
	margin-left: 20px;
}

.user__name-link {
	@include roboto(light);
	color: rgba(#fff, .6);
	font-size: 14px;
}

/* --------- menu --------- */

.menu__item {
	padding: 15px 30px;
	border-bottom: 1px solid #353a4d;

	&:first-child {
		border-top: 1px solid #353a4d;
	}
}

.menu__link {
	text-decoration: none;
	color: #fff;
}

.menu__link-title {
	margin-left: 10px;
}

.menu__link-icon {
	font-size: 20px;
}

.menu__options {
	margin-left: auto;
	padding: 5px 10px;
	display: inline-block;
	background: #8aaa28;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	border-radius: 50px;
}

.menu__options_bg_red {
	background: $red;
}

.sidebar__exit {
	padding: 15px 30px;
}

/* --------- header --------- */

.header {
	background: #fff;
	padding: 15px 30px;
	align-items: center;

	.fa {
		font-size: 22px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.header__search {
	margin: 0 30px;
}

.header__search-input {
	padding: 13px;
	padding-left: 50px;
	border: 0 none;
	font-size: 14px;
	background: #edf0f2;
	border-radius: 60px;
	width: 100%;
}

.header__search-form {
	display: block;
	position: relative;
	width: 100%;
}

.header__search-button {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
	background: transparent;
	border: none;
	color: #b3b7bd;
	font-size: 18px;
	padding: 0;
}

.header__user {
	> * {
		margin-left: 10px;
	}
}

.header__user-counter {
	font-size: 11px;
	background: $red;
	border-radius: 50%;
	line-height: 22px;
	height: 22px;
	width: 22px;
	text-align: center;
	color: #ffffff;
	min-width: 22px;
}

.header__user-avatar {
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;

	img {
		max-width: 100%;
		max-height: 100%;
		display: block;
	}
}

.header__settings {
	margin-left: 30px;
}

/* --------- content --------- */

.content {
	background: #edf0f2;
}

.content-wrapper {
	margin: 30px;
}

.section {
	margin-bottom: 30px;
}

.section_white {
	background: #fff;
	padding: 25px;
}

/* --------- icons --------- */

.icons__item {
	text-align: center;
}

.icons__pic {
	margin-bottom: 15px;
	height: 50px;
}

.icons__counter {
	@include roboto(medium);
	font-size: 22px;
	margin-bottom: 10px;
}

.icons__desc {
	font-size: 13px;
}

/* --------- visitors --------- */

.visitors {
	color: #fff;
	padding: 30px;
	background: #28bd8b;
}

.visitors {
	&:first-child {
		//margin-left: 0;
	}
}

.visitors__title {
	margin-bottom: 20px;
	@include roboto(medium);
	font-size: 20px;
}

.visitors__daily {
	margin-bottom: 30px;
}

.visitors__daily-title {
	margin-bottom: 5px;
	font-size: 14px;
}

.visitors__bar {
	display: block;
	background: #000;
	margin-bottom: 10px;
}

.visitors__bar-amount {
	height: 4px;
	width: 60%;
	background: #fff;
}

.visitors__desc {
	font-size: 14px;

	span {
		color: #000;
	}
}

.visitors__daily-count {
	@include roboto(medium);
}

.visitors_blue {
	background: #5a9efa;
}

/* --------- posts --------- */

.section__title {
	@include roboto(medium);
	margin-bottom: 30px;
}

.posts__item {
	height: 100px;
	display: flex;
	flex-direction: column;
	background: url('/assets/img/bg/item.png') center center no-repeat,
				url('/assets/img/bg/gradient.png') 0 bottom repeat-x;
	background-size: cover;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 30px;
	justify-content: flex-end;
}

.posts__desc {
	margin-top: auto;
	color: #fff;
	padding: 0 10px 20px;
}


/* --------- footer --------- */

.footer {
	min-height: 50px;
	background: #2e3242;
	color: #ffffff;
	padding: 20px;
}