.about {
  @extend %clearfix;
}

.about__left, .about__right {
  float: left;
  width: 50%;
  position: relative;
  min-height: 100vh;
  height: 1000px;
  padding: 0 4%;
}

.about__left {
  background: $white;
}

.about__left-title, .about__right-title  {
  text-align: center;
}

.about__right-title {
  margin-bottom: 30px;
}

.about__right {
  background: $beige;
}

.about__right-description {
  margin-bottom: 20px;
}
