.block-title {
  padding: 50px 85px;
  @include bernier();
  font-size: 63px;
  color: $titles-color;
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &:after, &:before {
    content: "";
    width: 22px;
    height: 5px;
    display: block;
    background: rgba($titles-color, .2);
    position: absolute;
    top: 50%;
    margin-top: -2px;
  }

  &:after {
    left: 10px;
  }

  &:before {
    right: 10px;
  }

  @include tablets() {
    &:after, &:before {
      display: none;
    }
  }
}