.user-description__image {
  margin-bottom: 35px;
  text-align: center;
}

.user-description__avatar {
  max-height: 390px;
  display: inline-block;
  max-width: 100%;
}

.user-description__title {
  text-align: center;
  margin-bottom: 35px;
}



