extends ../jquery.layout.pug

block variables
  - var title = 'jQuery'

block content
  
  include ../jquery-blocks/preloader
  //- include ../jquery-blocks/slider
  //- include ../jquery-blocks/slideshow