%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

//media
@mixin laptop() {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}